rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /portfolioConfig/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /portfolioBootstrap/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}
